/* TEMPLATE LETTRE */
body{
    background: #e9e9e9;
}
#lettre-contenu {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    border-radius: 10px;
    line-height: 1.6;
    font-family: "Segoe UI", sans-serif;
    box-shadow: 2px 2px 5px #d2d2d2;
}

#lettre-contenu p {
    margin-bottom: 15px;
}

