body {
    background: #f5f5f5;
    font-family: "Times New Roman", serif;
}

#lettre-contenu {
    width: 800px;
    margin: 40px auto;
    background: white;
    /* padding: 60px; */
    color: #000;
    line-height: 1.7;
}

.letter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background: #c4c3c3;
    padding: 20px;

    .name {
        font-weight: bold;
        font-size: 18px;
    }
}

section, main, footer{
    padding-inline: 20px;
}


.recipient {
    margin-bottom: 30px;
}

.object {
    margin-bottom: 30px;
}

.content p {
    margin-bottom: 20px;
    text-align: justify;
}

.signature {
    margin-top: 50px;
}

.sign-name {
    margin-top: 30px;
    font-weight: bold;
}
