/***** PAGE ACCUEIL *******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    background: linear-gradient(135deg, #c31432, #240b36);
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: none;
    justify-content: flex-end;
    padding: 20px 40px;

}

header a {
    margin-left: 15px;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}

header a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* HERO */
.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
    opacity: 0.9;
    margin-bottom: 30px;
}


.hero .button {
    background: white;
    /* color: #764ba2; */
    color: #c31432;
    border: none;
    padding: 12px 28px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #ffe6ea;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(84, 12, 12, 0.2);
}


/* TEMPLATES */
.templates {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
}

.templates h2 {
    text-align: center;
    margin-bottom: 25px;
}

.template-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.template-card {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    border: 2px solid transparent;
}

.template-card.active {
    border-color: #dc2626;
    box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.3);
}

.template-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
}

/* Overlay */
.template-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    transition: 0.3s;
}

.template-card:hover .template-overlay {
    opacity: 1;
}

.btn {
    padding: 10px 18px;
    border-radius: 999px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn.preview {
    background: #e5e7eb;
    color: #111827;
}

.btn.use {
    background: #dc2626;
    color: white;
}

.btn.use:hover {
    background: #b91c1c;
}
