<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Générateur de lettres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- CONNEXION/INSCRIPTION -->
    <!-- BIENVENUE -->
    <!-- MODELES -->

    <!-- PROCHAINE ETAPE : PARTIR D'UNE FEUILLE BLANCHE -->

    <header>
        <a href="#">Connexion</a>
        <a href="#">Inscription</a>
    </header>

    <section class="hero">
        <h1>Bienvenue</h1>
        <p>Crée facilement ta lettre de motivation en quelques clics</p>
        <a class="button" href="#template">Choisir un template</a>
    </section>

    <section class="templates" id="template">
        <h2>Templates disponibles</h2>

        <div class="template-grid">

            <div class="template-card" data-template="corporate">
                <h3>Corporate</h3>
                <img src="{{ url_for('static', filename='images/corporate.png') }}" alt="corporate">

                <div class="template-overlay">
                    <a href="/preview/corporate" class="btn preview">Voir</a>
                    <a href="/form/corporate" class="btn use">Utiliser</a>
                </div>
            </div>

            <div class="template-card" data-template="startup">
                <h3>Startup</h3>
                <img src="{{ url_for('static', filename='images/startup.png') }}" alt="Startup">

                <div class="template-overlay">
                    <a href="/preview/startup" class="btn preview">Voir</a>
                    <a href="/form/startup" class="btn use">Utiliser</a>
                </div>
            </div>

            <div class="template-card" data-template="creatif">
                <h3>Créatif</h3>
                <img src="{{ url_for('static', filename='images/creatif.png') }}" alt="creatif">

                <div class="template-overlay">
                    <a href="/preview/creatif" class="btn preview">Voir</a>
                    <a href="/form/creatif" class="btn use">Utiliser</a>
                </div>
            </div>

        </div>

    </section>

</body>

<script>
document.querySelectorAll('.template-card').forEach(card => {
    const template = card.dataset.template;

    // Bouton utiliser
    card.querySelector('.use').addEventListener('click', () => {
        window.location.href = `/formulaire?template=${template}`;
    });

    // Bouton voir (plus tard : modal ou page preview)
    card.querySelector('.preview').addEventListener('click', (e) => {
        e.stopPropagation();
        alert(`Preview du modèle : ${template}`);
    });
});
</script>

</html>
